body{
color:blueviolet;
background:bisque
margin: opx;    
}

header{
    border-bottom solid 2px rgb(0, 88, 88)
    padding: 20px;
    font: size 32px;
    color: rgb(0, 88, 88)
}

section {
    background: rgb(131, 37, 150))
    padding-bottom: 80px;
    padding-top: 80px;
}